<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-2xl">
    <h1 class="text-3xl font-bold text-center text-gray-800">Bienvenido a la Página Home</h1>
    <p class="text-center text-gray-600 mt-2">En la NavBar estan las secciones del trabajo.</p>
    
    <nav class="mt-6 flex justify-center space-x-4">
        <li>Libros</li>
        <li>Productos</li>
        <li>Ejercicio 1er Parcial</li>
        <li>About</li>
    </nav>
 <p></p>
    <div class="mt-6">
      <p class="text-gray-700 leading-relaxed">
        Cada una de estas rutas te llevará al ejercicio correspondiente. En la sección "Acerca de...", encontrarás información del desarrollador.
      </p>
      <p class="text-gray-700 mt-4">
        Todo el contenido está almacenado en una base de datos de Firebase y la aplicación está hosteada en Firebase Hosting.
      </p>
    </div>
  </div>
  